<div>
	<!--View sync message sent-->
	<div>
		<h5><span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span
				class="badge border border-secondary">{{count}}</span></h5>
		<div class="ui-bar-spacer">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped text-center">
				<thead>
					<tr>
						<th i18n="@@common-table-name">Table Name</th>
						<th i18n="@@common-identifier">Identifier</th>
						<!-- <th i18n="@@common-operation">Operation</th> -->
						<th i18n="@@common-district">District</th>
						<th i18n="@@common-health-facility">Health Facility</th>
						<th i18n="@@common-dateCreated">Date Created</th>
						<th i18n="@@common-dateSent">Date Sent</th>
						<th i18n="@@common-dateReceived">Date Reiceved</th>
						<th i18n="@@common-dateReceived">Payload</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let e of events">
						<td>{{e.modelClassName | modelClass}}</td>
						<td>{{e.identifier}}</td>
						<!--
						<td>
							<span class="text-success" [hidden]="e.operation != 'c'"
								i18n="@@common-insert">Insert</span>
							<span [hidden]="e != 'u'" i18n="@@common-update">Update</span>
							<span class="text-danger" [hidden]="e.operation != 'd'" i18n="@@common-delete">Delete</span>
						</td>
						-->
						<td>{{e.site?.name}}</td>
						<td>{{e.site?.identifier}}</td>
						<td>{{e.dateCreated | date:'yyyy-MM-dd'}}</td>
						<td>{{e.dateSentBySender| date:'yyyy-MM-dd'}}</td>
						<td>{{e.dateReceived | date:'yyyy-MM-dd'}}</td>
						<td>{{e.entityPayload}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Templates -->
<ng-template #viewDetailsTemplate>
	<span i18n="@@common-view-details">View Details</span>
</ng-template>
<!-- Template-->
