<!--View sync message overall status-->
<div >
	<h5><span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span
			class="badge border border-secondary">{{count}}</span></h5>;
	<div class="ui-bar-spacer">
		<table datatable [dtOptions]="dtOptions" class="table table-striped text-center">
			<thead>
				<tr>
					<th i18n="@@common-table-name">Table Name</th>
					<th i18n="@@common-identifier">Sent Itens</th>
					<th i18n="@@common-operation">Received Items</th>
					<th i18n="@@common-dateAdded">Non Received</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let e of filteredSyncStatus">
					<td>{{e.tableName}}</td>
					<td>{{e.setItens}}</td>
					<td>{{e.receivedItens}}</td>
					<td>{{e.nonReceivedItens}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!--View sync message overall status-->
