<div class="mt-4 mb-3">
	<div class="row container">
		<div class="col-md-6 mr-0">
			<p class="h5"><strong><span i18n="@@common-header-search">Sync Details Search Data</span></strong></p>
		</div>

	</div>
	<div class="row container">
		<div class="col-md-3">
			<span i18n="@@common-start">Stard Date</span> - <span>{{startDate ? startDate : 'None'}}</span>
		</div>
		<div class="col-md-1">
			<span><i class="bi bi-arrow-right"></i></span>
		</div>
		<div class="col-md-3">
			<span i18n="@@common-end">End Date</span> - <span>{{endDate ? endDate : 'None'}}</span>
		</div>

	</div>
</div>


<div>
	<!--View sync message sent-->
	<div>
		<h5><span class="badge badge-dark" i18n="@@common-total-count">Total Count</span>&nbsp;<span
				class="badge border border-secondary">{{count}}</span></h5>
		<div class="ui-bar-spacer">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped text-center">
				<thead>
					<tr>
						<th>
							<input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)"
								name="list_name" value="-1" />
						</th>
						<th i18n="@@common-table-name">Table Name</th>
						<th i18n="@@common-identifier">Identifier</th>
						<th i18n="@@common-operation">Operation</th>
						<th i18n="@@common-dateAdded">Date Created</th>
						<th i18n="@@common-dateSent">Date Sent</th>
						<th i18n="@@common-dateReceived">Date Reiceved</th>
						<th i18n="@@common-status">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let e of events;">
						<td><input type="checkbox" [checked]="e?.checked" value="e" (change)="isSelected(e,$event)">
						</td>
						<td>{{e.tableName}}</td>
						<td>{{e.identifier}}</td>
						<td>
							<span class="text-success" [hidden]="e.operation != 'c'"
								i18n="@@common-insert">Insert</span>
							<span [hidden]="e.operation != 'u'" i18n="@@common-update">Update</span>
							<span class="text-danger" [hidden]="e.operation != 'd'" i18n="@@common-delete">Delete</span>
						</td>
						<td>{{e.dateCreated | date:'yyyy-MM-dd HH:mm:ss.SSS'}}</td>
						<td>{{e.dateSent| date:'yyyy-MM-dd HH:mm:ss.SSS'}}</td>
						<td>{{e.dateReceived| date:'yyyy-MM-dd HH:mm:ss.SSS'}}</td>
						<td>
							<span [hidden]="e.status != 'SENT'" i18n="@@common-event-sent">Sent</span>
							<span [hidden]="e.status != 'RECEIVED'" i18n="@@common-event-new">
								Received</span>
							<span [hidden]="e.status != 'NEW'" i18n="@@common-event-received">
								New</span>

						</td>
					</tr>
				</tbody>
			</table>
			<div class="mt-2">
				<div class="row container">
					<div class="col-md-3">
						<button class="btn btn-secondary" (click)="resendSelectedEvent()"> <span i18n="@@common-resend">
								Resend selected Event</span></button>
					</div>
					<div class="col-md-2">
						<button class="btn btn-secondary" (click)="back()"> <i class="bi bi-arrow-left-short"></i> <span i18n="@@common-back">
								 Back</span></button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!--View sync message sent-->
</div>

<!-- Templates -->
<ng-template #viewDetailsTemplate>
	<span i18n="@@common-view-details">View Details</span>
</ng-template>
<!-- Template-->
